<?xml version="1.0" encoding="utf-8"?>
<Permissions>
  <PermissionObject>
    <Date>14/09/2016 17:54:09</Date>
    <Object>*.*</Object>
    <Path>\</Path>
    <Type>Folder</Type>
    <Permission>5</Permission>
    <IncludeChildren>AllFilesAndFolders</IncludeChildren>
    <Domain>isasrl.it</Domain>
    <Origin>File Manager</Origin>
  </PermissionObject>
  <PermissionObject>
    <Date>14/09/2016 17:54:09</Date>
    <Object>App_Data</Object>
    <Path>\</Path>
    <Type>Folder</Type>
    <Permission>7</Permission>
    <IncludeChildren>AllFilesAndFolders</IncludeChildren>
    <Domain>isasrl.it</Domain>
    <Origin>File Manager</Origin>
  </PermissionObject>
  <PermissionObject>
    <Date>14/09/2016 17:54:09</Date>
    <Object>_do_not_delete</Object>
    <Path>\App_Data\</Path>
    <Type>File</Type>
    <Permission>0</Permission>
    <IncludeChildren>AllFilesAndFolders</IncludeChildren>
    <Domain>isasrl.it</Domain>
    <Origin>File Manager</Origin>
  </PermissionObject>
  <PermissionObject>
    <Date>14/09/2016 17:54:09</Date>
    <Object>_do_not_delete</Object>
    <Path>\cgi-bin\</Path>
    <Type>File</Type>
    <Permission>0</Permission>
    <IncludeChildren>AllFilesAndFolders</IncludeChildren>
    <Domain>isasrl.it</Domain>
    <Origin>File Manager</Origin>
  </PermissionObject>
  <PermissionObject>
    <Date>14/09/2016 17:54:09</Date>
    <Object>FILES</Object>
    <Path>\</Path>
    <Type>Folder</Type>
    <Permission>7</Permission>
    <IncludeChildren>AllFilesAndFolders</IncludeChildren>
    <Domain>isasrl.it</Domain>
    <Origin>File Manager</Origin>
  </PermissionObject>
  <PermissionObject>
    <Date>14/09/2016 17:54:10</Date>
    <Object>mdb-database</Object>
    <Path>\</Path>
    <Type>Folder</Type>
    <Permission>7</Permission>
    <IncludeChildren>AllFilesAndFolders</IncludeChildren>
    <Domain>isasrl.it</Domain>
    <Origin>File Manager</Origin>
  </PermissionObject>
  <PermissionObject>
    <Date>14/09/2016 17:54:10</Date>
    <Object>_do_not_delete</Object>
    <Path>\mdb-database\</Path>
    <Type>File</Type>
    <Permission>0</Permission>
    <IncludeChildren>AllFilesAndFolders</IncludeChildren>
    <Domain>isasrl.it</Domain>
    <Origin>File Manager</Origin>
  </PermissionObject>
  <PermissionObject>
    <Date>14/09/2016 17:54:10</Date>
    <Object>public</Object>
    <Path>\</Path>
    <Type>Folder</Type>
    <Permission>7</Permission>
    <IncludeChildren>AllFilesAndFolders</IncludeChildren>
    <Domain>isasrl.it</Domain>
    <Origin>File Manager</Origin>
  </PermissionObject>
  <PermissionObject>
    <Date>14/09/2016 17:54:10</Date>
    <Object>_do_not_delete</Object>
    <Path>\public\</Path>
    <Type>File</Type>
    <Permission>0</Permission>
    <IncludeChildren>AllFilesAndFolders</IncludeChildren>
    <Domain>isasrl.it</Domain>
    <Origin>File Manager</Origin>
  </PermissionObject>
  <PermissionObject>
    <Date>14/09/2016 17:54:11</Date>
    <Object>DATI.mdb</Object>
    <Path>\CROAS\mdb-database\</Path>
    <Type>File</Type>
    <Permission>7</Permission>
    <IncludeChildren>AllFilesAndFolders</IncludeChildren>
    <Domain>isasrl.it</Domain>
    <Origin>File Manager</Origin>
  </PermissionObject>
  <PermissionObject>
    <Date>14/09/2016 17:54:11</Date>
    <Object>public</Object>
    <Path>\CROAS\</Path>
    <Type>Folder</Type>
    <Permission>7</Permission>
    <IncludeChildren>AllFilesAndFolders</IncludeChildren>
    <Domain>isasrl.it</Domain>
    <Origin>File Manager</Origin>
  </PermissionObject>
  <PermissionObject>
    <Date>14/09/2016 17:54:11</Date>
    <Object>log.txt</Object>
    <Path>\CROAS\public\</Path>
    <Type>File</Type>
    <Permission>7</Permission>
    <IncludeChildren>AllFilesAndFolders</IncludeChildren>
    <Domain>isasrl.it</Domain>
    <Origin>File Manager</Origin>
  </PermissionObject>
  <PermissionObject>
    <Date>14/09/2016 17:54:14</Date>
    <Object>arearis</Object>
    <Path>\COLLAUDO\</Path>
    <Type>Folder</Type>
    <Permission>7</Permission>
    <IncludeChildren>AllFilesAndFolders</IncludeChildren>
    <Domain>isasrl.it</Domain>
    <Origin>File Manager</Origin>
  </PermissionObject>
  <PermissionObject>
    <Date>14/09/2016 17:54:14</Date>
    <Object>DATI.mdb</Object>
    <Path>\COLLAUDO\mdb-database\</Path>
    <Type>File</Type>
    <Permission>7</Permission>
    <IncludeChildren>AllFilesAndFolders</IncludeChildren>
    <Domain>isasrl.it</Domain>
    <Origin>File Manager</Origin>
  </PermissionObject>
  <PermissionObject>
    <Date>14/09/2016 17:54:14</Date>
    <Object>public</Object>
    <Path>\COLLAUDO\</Path>
    <Type>Folder</Type>
    <Permission>7</Permission>
    <IncludeChildren>AllFilesAndFolders</IncludeChildren>
    <Domain>isasrl.it</Domain>
    <Origin>File Manager</Origin>
  </PermissionObject>
  <PermissionObject>
    <Date>14/09/2016 17:54:14</Date>
    <Object>log.txt</Object>
    <Path>\COLLAUDO\public\</Path>
    <Type>File</Type>
    <Permission>7</Permission>
    <IncludeChildren>AllFilesAndFolders</IncludeChildren>
    <Domain>isasrl.it</Domain>
    <Origin>File Manager</Origin>
  </PermissionObject>
  <PermissionObject>
    <Date>14/09/2016 17:54:15</Date>
    <Object>mdb-database</Object>
    <Path>\CHIMICITOSCANA\</Path>
    <Type>Folder</Type>
    <Permission>7</Permission>
    <IncludeChildren>AllFilesAndFolders</IncludeChildren>
    <Domain>isasrl.it</Domain>
    <Origin>File Manager</Origin>
  </PermissionObject>
  <PermissionObject>
    <Date>14/09/2016 17:54:15</Date>
    <Object>DATI.mdb</Object>
    <Path>\CHIMICITOSCANA\mdb-database\</Path>
    <Type>File</Type>
    <Permission>7</Permission>
    <IncludeChildren>AllFilesAndFolders</IncludeChildren>
    <Domain>isasrl.it</Domain>
    <Origin>File Manager</Origin>
  </PermissionObject>
  <PermissionObject>
    <Date>14/09/2016 17:54:15</Date>
    <Object>public</Object>
    <Path>\CHIMICITOSCANA\</Path>
    <Type>Folder</Type>
    <Permission>7</Permission>
    <IncludeChildren>AllFilesAndFolders</IncludeChildren>
    <Domain>isasrl.it</Domain>
    <Origin>File Manager</Origin>
  </PermissionObject>
</Permissions>